/**/DROP/
/**/TEMP/
/**/packages/
/**/target/
/**/Win32/
/**/x64/
/**/bin/
/**/Bin/
/**/obj/
/**/Obj/
/**/Debug/
/**/Release/
/**/tars/
/**/_site
/**/docfx_site
/**/docfx_pdf
/**/bak/
/**/scratch/
/**/snippets/
/**/external/
/**/third-party/
/**/desktop.ini/
/**/.DS_Store/
/**/doxygen/
/**/tmp/
/**/temp/
/**/bak*/
/**/*.tmp*/
/**/*.log/
/**/*.jnk*/
/**/*.temp/
/**/*.bak*/
/**/.vs/
/**/.svn/
/**/.idea/
*.log
*.tmp*
*.temp*
*.jnk*
*.junk*
*.bak*
*.back*
*.swp*
knime-workspace

