/**/DROP/
/**/data/
/**/output/
/**/TEMP/
/**/packages/
/**/target/
/**/Win32/
/**/x64/
/**/bin/
/**/Bin/
/**/obj/
/**/Obj/
/**/Debug/
/**/Release/
/**/tars/
/**/_site
/**/docfx_site
/**/docfx_pdf
/**/bak/
/**/scratch/
/**/snippets/
/**/external/
/**/third-party/
/**/desktop.ini/
/**/.DS_Store/
/**/doxygen/
/**/tmp/
/**/temp/
/**/bak*/
/**/*.tmp*/
/**/*.log/
/**/*.jnk*/
/**/*.temp/
/**/*.bak*/
/**/.vs/
/**/.svn/
/**/.idea/
/**/.DS_Store/
.DS_Store
*.log
Module*.bas
*.ods
Book*.xls*
tmp*
*.tmp*
*.temp*
temp*
*.jnk*
jnk*
*.junk*
junk*
*.bak*
*.back*
*.swp*
knime-workspace
*.pyc
__pycache__
/**/build/
/**/test/output
~*
test.bat
