<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Excel-DNA" version="1.0.0" targetFramework="net461" />
  <package id="ExcelDna.AddIn" version="1.0.0" targetFramework="net461" />
  <package id="ExcelDna.Integration" version="1.0.0" targetFramework="net461" />
  <package id="ExcelDna.Interop" version="14.0.1" targetFramework="net461" />
  <package id="ExcelDna.Registration" version="0.34.7" targetFramework="net461" />
  <package id="ExcelDna.Registration.VisualBasic" version="0.34.7" targetFramework="net461" />
  <package id="ExcelDna.Utilities" version="0.1.6" targetFramework="net461" />
  <package id="ExcelDna.IntelliSense" version="1.1.0" targetFramework="net461" />
  <package id="NetOfficeFw.Core" version="1.7.4.5" targetFramework="net461" />
  <package id="NetOfficeFw.Excel" version="1.7.4.5" targetFramework="net461" />
</packages>